body {
    background-color: #313131;
}

.content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.main {
    margin: 0px 23px;
    clear: both;
}

.card {
    background-color: #545454;
    color: #fff;
    margin: 5px;
}

.card-body {
    margin-top: -15px;
}

.card-image {
    height: 150px !important;
}

.card-title{
    float: left;
}

.map {
    height: 20px;
    margin-right: 10px;
}

.price {
    float: right;
    margin-top: 3px;
}

.card-text {
    clear: both;
    height: 150px;
}

.view {
    width: 45%;
}

.book {
    background-color: #28df99;
    color: #fff;
    margin-left: 10px;
    width: 50%;
    color: #000;

}
.dropdown-toggle {
    margin-left: 64px;
}

.sorting {
    width: 122px;
}

.sort {
    float: right;
}

.searching {
    background-color: #545454;
}

.searchButton {
    float: right;
    margin-left: 27px;
    margin-right: 27px;
    margin-bottom: 15px;
}



/* Media Query */
@media (max-width: 1024px) { 
    body {
        background-color: blue;
    }
    .main {
        margin-left: 70px;
    }
 }

@media (max-width: 500px) {
    .main {
        margin-left: 60px;
    }
}