.navbar {
    background-color: #313131;
}

.logo {
    height: 75px;
    width: 150px;
    margin-left: 5%;
}

.nav-link {
    margin-left: 20px;
    color: white;
}

.btn-header {
    margin-right: 50px !important;
    color: white !important;
}

.img-button {
    margin-right: 70px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.modal-title {
   color: white;
   text-align: center;
}

.modal-body {
    background-color: #313131;
    color: white;
}

.modal-footer {
    background-color: #313131;
    color: white;
}

.label {
    color:white
}
.modal-form {
    background-color: #545454;
    border-color: #545454;
    color: white;
    height: 40px;
}

.submit-button {
    background-color: #28df99;
    width: 465px;
    height: 40px;
    color: #313131;
}

.para {
    text-align: center;
}

.facebook-button {
    background-color: #3b5998;
    width: 465px;
    height: 40px;
}

.crossing-button {
    color: #28df99;
}

.statement-login {
    color: #28df99;
    margin-left: 29%;
}

.statement-signup {
    color: #28df99;
    margin-left: 19%;
}

.dropdown-menu-header {
    margin-right: 200px !important;
}

/* Ipad */
@media (max-width: 768px) {
    
    .btn-header {
        color: white !important;
        margin-right: 20px;
    }

    .cross-button {
        color: #28df99 !important;
    }
}

/* Iphone X */
@media (max-width: 375px) {

    .btn-link {
        margin-right: 10px !important;
        color: white !important;
        width: 50px;        
    }

    .submit-button {
        background-color: #28df99;
        width: 327px;
        height: 40px;
        color: #313131 !important;
    }

    .facebook-button {
        background-color: #3b5998;
        width: 327px;
        height: 40px;
    }

    .statement-login {
        color: #28df99;
        margin-left: 20%;
    }

    .statement-signup {
        margin-left: 8%;
    }

    .cross-button {
        color: #28df99 !important;
        width: 90px;
    }
}