.sorter {
    background-color: orange;
    margin-right: -20px;
    margin-bottom: 10px;
}

.nameFitur {
    margin-left: -10px;
    font-size: 15px;
}

.filter {
    float: right;
    margin-right: -17px;
    margin-left: 10px;
}

.dropdown-toggle {
    margin-left: 64px;
}

.sorting {
    width: 122px;
}

.sort {
    float: right;
}

.searching {
    background-color: #545454;
}

.searchButton {
    float: right;
    margin-left: 27px;
    margin-right: 27px;
    margin-bottom: 15px;
}

.buttonSearch {
    background-color: #28df99;
}
