body {
    background-color: #313131;
}

.body-background {
    color: #313131;
    margin-bottom: 30px;
    
}

.image {
    height: 200px !important;
}

.body-card {
    width: 270px;
    height: 290px;
    background-color: #545454;
    border-color: #313131;
    border-width: 2px;
    margin-left: 3.5%;
}

.ilustration {
    width: 266px;
    height: 120px;
}

.field-name {
    /* color: white; */
    font-weight: bolder;
    margin-left: 20px;
}

.field-price {
    /* color: white; */
    font-weight: bold;
    margin-left: 120px;
}

.address {
    /* color: white; */
    text-align: justify;
}

.view-button {
   width: 100px;
   height: 35px;
   background-color: #7b7b7b;
   margin-left: 10px;
   border-radius: 5px;
}

.book-button {
    width: 100px;
    height: 35px;
    background-color: #28df99;
    color: #313131;
    margin-left: 10px;
    border-radius: 5px;
}





/* New */
.feature-title {
    margin-left: 32px;
    color: white;
    font-weight: 800;
    padding-top: 30px;
    float: left;
}

.landingPageCards {
    margin-left: 20px;
    width: 100%;
}

.content {
    display: flex;
    flex-wrap: wrap;
    /* margin: 5px !important; */
    justify-content: center;
}

.main {
    margin: 0 23px;
    clear: both;
}

.card {
    background-color: #545454;
    color: #fff;
    /* margin-left: 0 auto !important; */
    margin-right: auto;
}

.card-body {
    margin-top: -15px;
}

.card-title{
    float: left;
}

.map {
    height: 20px;
    margin-right: 10px;
}

.price {
    float: right;
    margin-top: 3px;
}

.card-text {
    clear: both;
}

.view {
    width: 45%;
}
.goto {
    margin-top: 30px;
    color: #fff;   
    float: right;
    margin-right: 26px;
    font-size: 20px;
}

.right {
    margin-left: 20px;
    color: #fff;
}

/* Ipad */
@media (max-width: 768px) {
    .landingPageCards {
        margin-left: 7%;
        width: 100%;
    }

    .goto {
        margin-top: 30px;
        color: #fff;   
        float: right;
        margin-right: 90px;
        font-size: 20px;
    }
}

/* Iphone X */
@media (max-width: 375px) {
    
    .landingPageCards {
        margin-left: 4%;
        width: 100%;
    }

    .goto {
        margin-top: 30px;
        color: #fff;   
        float: right;
        margin-right: 180px;
        font-size: 20px;
    }
}