.bckgrnd {
    background-color: #313131;
}

.jumbotron {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url("../../assets/img/ball.jpg") !important;
    background-size: cover;
    height: 378px;
    margin-bottom: 0 !important;
}

.title {
    color: white;
    text-align: center;
    font-size: 500%;
    margin-top: 3%;
}

.btn-jumbotron {
    margin-left: 46%;
    background-color: #28df99 !important;
    color: #313131;
}

/* Ipad */
@media (max-width: 768px) {
    .btn-jumbotron {
        margin-left: 44%;
        background-color: #28df99 !important;
        color: #313131 !important;
    }
}

/* Iphone X */
@media (max-width: 375px) {
    
    .jumbotron {
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url("../../assets/img/ball.jpg");
        background-size: cover;
        height: 200px;
        margin-bottom: 0 !important;
    }
    
    .title {
        color: white;
        text-align: center;
        font-size: 40px;
        margin-top: 5%;
    }

    .btn-jumbotron {
        margin-left: 37%;
        background-color: #28df99 !important;
        color: #313131 !important;
        
    }
}